html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  margin: 1.5rem;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: inline-block;
  text-align: center;
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  max-width: 960px;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: .4em;
  margin: 0;
}

.btn {
  text-align: center;
  color: #666;
}

div {
  display: inline-block;
  padding: 1.5em .6em;
  text-align: left;
  vertical-align: middle;
  max-width: 25em;
  margin: 0;
  padding-top: 0;
  min-width: 25em;
}

img {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
  padding: .4em;
}

.titleandparagraph {
  display: inline-block;
  max-width: 50%;
  vertical-align: top;
  padding-top: 0;
}

a {
  text-decoration: none;
  color: #333;
}

p {
  display: inline-block;
  text-align: left;
  width: 100%;
  margin-bottom: 1em;
  min-width: 100%;
  flex-wrap: nowrap;
  max-width: inherit;
}

nav a {
  display: inline-block;
  padding: .5em;
  text-align: left;
  margin: 0;
}

nav li {
  display: inline-block;
  text-align: left;
  border: 3px solid #333;
  border-radius: 10px;
  margin: 0;
  padding-left: 0;
  font-size: 1.125rem;
}

nav li a:hover {
  background-color: #333;
  border-radius: 1px;
  color: #fff;
}

ul {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding-left: 0;
}
